[tool.poetry]
name = "ontogpt"
version = "0.0.0"
description = "OntoGPT"
authors = ["Chris Mungall <cjmungall@lbl.gov>"]
license = "BSD-3"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
click = "^8.1.3"
importlib = "^1.0.4"
openai = "^0.27.4"
oaklib = "^0.5.2"
gilda = "^0.10.3"
jsonlines = "^3.1.0"
python-multipart = "^0.0.5"
linkml-owl = "^0.2.7"
beautifulsoup4 = "^4.11.1"
eutils = "^0.6.0"
class-resolver = "*"
inflect = "^6.0.2"
bioc = "^2.0.post5"
linkml = "^1.4.10"
wikipedia = "^1.4.0"
tiktoken = "^0.3.3"
airium = "^0.2.5"
SQLAlchemy = "^1.4.32, !=1.4.46"
greenlet = "!=2.0.2"
httpx = "^0.23.3"
aiohttp = "^3.8.4"
inflection = "^0.5.1"
linkml-runtime = "^1.4.9"
nlpcloud = "^1.0.39"
fastapi = {version = "^0.88.0", optional = true}
uvicorn = {version = "^0.20.0", optional = true}
Jinja2 = {version = "^3.1.2", optional = true}
sphinx = {version = "^5.3.0", extras = ["docs"], optional = true}
sphinx-rtd-theme = {version = "^1.0.0", extras = ["docs"], optional = true}
sphinx-autodoc-typehints = {version = "^1.19.4", extras = ["docs"], optional = true}
sphinx-click = {version = "^4.3.0", extras = ["docs"], optional = true}
myst-parser = {version = "^0.18.1", extras = ["docs"], optional = true}
recipe-scrapers = {version = "^14.35.0", extras = ["recipes"], optional = true}
cachier = "^2.1.0"
wikipedia-api = "^0.5.8"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
setuptools = ">=65.5.0"
tox = "^3.25.1"
mkdocs-mermaid2-plugin = "^0.6.0"

[tool.poetry.scripts]
ontogpt = "ontogpt.cli:main"
web-ontogpt = "ontogpt.webapp.main:start"

[tool.poetry.extras]
docs = [
    "sphinx",
    "sphinx-rtd-theme",
    "sphinx-autodoc-typehints",
    "sphinx-click",
    "myst-parser"
    ]
web = [
    "fastapi",
    "uvicorn",
    "Jinja2"
]
recipes = [
    "recipe-scrapers"
]

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
seaborn = "^0.12.2"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "pep440"

[tool.black]
line-length = 100
target-version = ["py38", "py39", "py310"]

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 100
include_trailing_comma = true
reverse_relative = true

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"
