

# Slot: representative_verification

URI: [data_sheets_schema:representative_verification](https://w3id.org/bridge2ai/data-sheets-schema/representative_verification)



<!-- no inheritance hierarchy -->





## Applicable Classes

| Name | Description | Modifies Slot |
| --- | --- | --- |
| [SamplingStrategy](SamplingStrategy.md) | Does the dataset contain all possible instances or is it a sample (not necess... |  no  |







## Properties

* Range: [String](String.md)

* Multivalued: True





## Identifier and Mapping Information







### Schema Source


* from schema: https://w3id.org/bridge2ai/data-sheets-schema




## LinkML Source

<details>
```yaml
name: representative_verification
from_schema: https://w3id.org/bridge2ai/data-sheets-schema
rank: 1000
multivalued: true
alias: representative_verification
owner: SamplingStrategy
domain_of:
- SamplingStrategy
range: string

```
</details>