name: Deploy Documentation

# Controls when the action will run. Triggers the workflow on push
on:
  workflow_dispatch:
  push:
    branches: [ main ]

    paths:
    - 'docs/*/*.md'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-docs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    #----------------------------------------------
    #       check-out repo and set-up python
    #----------------------------------------------
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        # persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

    - name: Set up Python3
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

    #----------------------------------------------
    #          install & configure poetry
    #----------------------------------------------
    - name: Install Poetry
      uses: snok/install-poetry@v1.3

    #----------------------------------------------
    # install dependencies if cache does not exist
    #----------------------------------------------
    - name: Install dependencies
      # if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction

    #----------------------------------------------
    #  Create documentation and deploy.
    #----------------------------------------------
    - name: Create local docs
      run: |
        touch docs/.nojekyll
        make gh-deploy
